body{
    background-color: orange;
}
#nav ul{
    text-align: center;
    list-style-type: none;
}
#nav li{
    display: inline;
    font-size: xx-large;
    text-align: center;
    margin: 0 10px 0 0;
}
#nav li a {
    padding: 2px 7px 2px 7px;
    color: #666;
    background-color: #eeeeee;
    border: 1px solid #ccc;
    text-decoration: none;
 }
 #nav li a:hover{
    background-color: #333333;
    color: #ffffff;
 }
#presentacion, #formacion, #contacto{
    background-color: rgb(248, 216, 129);
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
}
.conimg{
    height: 200px;

}
li{
    list-style-type: none;
}